/*@import url('https://fonts.googleapis.com/css2?family=Maiandra GD:wght@400;500&display=swap');
*/
@font-face {
  font-family: Maiandra GD;
  src: url("Maiandra GD.ttf");
}

:root {
  --primary-light: #8abdff;
  --primary: #fcaa5d;
  --primary-dark: #fcaa5d;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  color: black;
  text-align: center;
  

}

#background {
  filter: blur(2px);

  opacity: 80%;
  z-index: 1;
  position: fixed;
  left: 0%;
  
  height: 1080px;
  width: 1920px;
}


body {
  font-family: 'Maiandra GD';
  position: relative;
  min-height: 100vh;
  display: var(--primary-light);
  align-items: center;
  justify-content: center;
  background-color: white;

}

html {

  scroll-behavior: smooth;

}



.insgesamt_tabelle {


  z-index: 1;
  position: relative;


  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 16px 0 rgba(10, 8, 17, 0.35);
  background: #ddddddea;

  border-radius: 25px;
  display: inline-block;
  margin-top: 0px;


  margin-top: 1.5cm;
  margin-bottom: 1.5cm;
  margin-left: 0.7cm;
  margin-right: 0.7cm;


}




.insgesamt_tabelle_inside {
  padding: 20px;
  margin-top: 0.3cm;
  margin-bottom: 0.5cm;
  margin-left: 0.7cm;
  margin-right: 0.7cm;

}

.table {
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  empty-cells: show;
}

.table_body {
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  empty-cells: show;
  font-size: calc(1rem + 0.3vw);

}







.headline {
  border-bottom: 0.3mm solid rgb(0, 0, 0);
  font-size: 33px;
}

.row {
  border-bottom: 0.2mm solid rgb(0, 0, 0);
  border-left: 0.2mm solid rgb(0, 0, 0);
  border-right: 0.2mm solid rgb(0, 0, 0);

}


.first {
  border-right: 0.2mm dashed rgba(0, 0, 0);

}

.second {
  border-right: 0.3mm dashed rgba(0, 0, 0);
}

.eng_first {
  border-right: 0.2mm dashed rgba(0, 0, 0);

}

.eng_second {
  border-right: 0.2mm solid rgba(0, 0, 0);
}



td,
th {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;

}








.Lektion_anzeige {
  position: relative;
  font-size: 55px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30px;
  z-index: 3;
}






.hidden {
  visibility: hidden;
  display: none;
  z-index: -10;
}


.hidden_trotzdem_platz {
  visibility: hidden;
  z-index: -10;
}








.lernen_auswahl_latein {
  font-size: calc(0.9rem + 0.3vw);
  z-index: 6;
  position: absolute;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 16px 0 rgba(10, 8, 17, 0.35);
  background: #ddddddea;


  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}







.lernen_auswählen_viva_oder_originaltexte {
  position: relative;
  top: 80px;
}


.lernen_dropdown_div {
  position: relative;
  top: 50px;
}





.checkbox {
  position: relative;
  left: 18%;
  top: -100px;
  justify-content: center;
  height: 50px;
  width: 300px;
  margin: 0px;
}




.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  
}

.checkbox-container label::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: .15em;
  margin-right: .5em;
  border: .05em solid black;
  
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover+label::before {
  background-color: #888888;
  
}

.checkbox-container input[type='checkbox']:focus+label::before {
  box-shadow: 0 0 20px #b1b1b1;
  
}



.checkbox-container input[type='checkbox']:checked+label::before {
  content: '\002714';
  background-color: #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}




.latein_lektion_auswahlmenü_btn {
  transform: translate(-50%);
  position: relative;
  height: 45px;
  width: 170px;
  top: -20%;
  left: 50%;
  cursor: pointer;
  background-color: rgb(71, 71, 71);
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  color: white;

}

.latein_lektion_auswahlmenü_btn:hover,
.latein_lektion_auswahlmenü_btn:focus {
  background-color: rgb(88, 88, 88);
}





/*  Latein  */

.lernen_einfach_weiter_button_latein {
  position: relative;
  height: 80px;
  width: 150px;
  bottom: 10px;
  left: -10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  color: black;
}

.lernen_einfach_weiter_button_latein:hover,
.lernen_einfach_weiter_button_latein:focus {
  background-color: rgb(88, 88, 88);
}



.lernen_standard_weiter_button_latein {
position: relative;
  height: 80px;
  width: 150px;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  color: black;
}

.lernen_standard_weiter_button_latein:hover,
.lernen_standard_weiter_button_latein:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

/*  Englisch  */


.lernen_einfach_weiter_button {
  transform: translate(-50%, -50%);
  position: absolute;
  height: 80px;
  width: 150px;
  bottom: 0%;
  left: 30%;
  cursor: pointer;
  background-color: rgb(71, 71, 71);
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  color: white;
}

.lernen_einfach_weiter_button_latein:hover,
.lernen_einfach_weiter_button_latein:focus {
  background-color: rgba(255, 255, 255, 0.7);
}




.lernen_einfach_btn {
  font-family: Maiandra GD;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 270px;
  width: 22vw;
  bottom: -10%;
  font-size: calc(1rem + 0.3vw);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 16px 0 rgba(10, 8, 17, 0.35);
  padding: 7px;


  display: inline-grid;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  color: black;
  border: none;
}



@media (max-width: 1330px)  {
  
  .lernen_einfach_btn {
    height: 230px;
    width: 300px;
  }

}


@media (max-width: 1130px)  {
  
  .lernen_einfach_btn {
    width: 20vw;
  }

}





#lernen_einfach_btn_1 {
  left: 17%;
}

#lernen_einfach_btn_2 {
  left: 50%;
}

#lernen_einfach_btn_3 {
  left: 83%;
}


.lernen_einfach_richtig {

  background-color: #8ae2169c;


}






.lernen_einfach_falsch {
  background-color: #ff3f2a9a;
}







.lernen_hide_menü_x_btn {
  z-index: 100000;
  cursor: pointer;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 44px;
  right: -15px;
  top: 30px;
}


.lernen_hide_x_btn {
  cursor: pointer;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 44px;
  top: 27px;
  right: -15px;

}



.länge {
  color: #808080;
  right: 30px;
}


.lernen_design_css {

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 16px 0 rgba(10, 8, 17, 0.35);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);


}

.all_lernen {

  font-size: calc(1rem + 0.3vw);
  z-index: 1;
  position: absolute;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 47%;
  left: 50%;

  width: 85%;
  height: 65%;
  display: inline-grid;
  align-items: center;
  border-radius: 1.5rem;

}

#lernen_lek {
  color: #313131;
  position: absolute;
  transform: translate(-50%, -50%);
  top: -75px;
  left: 50%;
  font-size: 45px;
  width: 1500px;

}

.lernen_lat {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
  font-size: calc(1.2rem + 0.8vw);

  animation-name: lernen_lat;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: none;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}


.lernen_de_sonst {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -460px;
  left: 50%;
  font-size: calc(1.2rem + 0.8vw);
  max-width: 1000px;

  animation-name: lernen_de_sonst;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: none;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}






@keyframes lernen_lösung_lat {

  0% {
    top: 25%;
  }

  100% {
    top: 20%;

  }
}


@keyframes lernen_lösung_de_sonst {

  0% {
    opacity: 0%;
    bottom: -1000px;

  }

  100% {
    opacity: 100%;
    bottom: 0%;
  }
}





@keyframes lernen_lat {

  0% {
    top: 20%;
  }

  100% {
    top: 25%;

  }
}


@keyframes lernen_de_sonst {

  0% {
    bottom: 0%;

  }

  100% {
    bottom: -1000px;
  }
}

.lösung_gezeigt_lat {

  animation-name: lernen_lösung_lat;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: none;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}


.lösung_gezeigt_de_sonst {

  animation-name: lernen_lösung_de_sonst;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: none;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}


.länge_lek {
  color: #313131;
  position: absolute;
  transform: translate(-50%, -50%);
  top: -40px;
  left: 50%;
  font-size: calc(1rem + 0.3vw);
  white-space: nowrap;
}

.noch_länge_lek {
  position: absolute;
  transform: translate(-50%, -50%);
  top: -15px;
  left: 50%;
  font-size: calc(1rem + 0.3vw);
  white-space: nowrap;
}



.gesamt_fehleranzahl {
  position: absolute;
  transform: translate(-50%, -50%);
  top: -28px;
  left: 20%;
  font-size: calc(1rem + 0.3vw);
  white-space: nowrap;
}









.btn_gewusst_nichtgewusst {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -160px;
  left: 50%;
  width: 900px;

}








/* button_gewusst */
.btn-gewusst {
  font-family: Maiandra GD;
  color: #fff;
  border-radius: 5px;
  padding: 0.7vw 1.5vw;
  margin-left: 3vw;
  

  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;



  width: 26%;
  font-size: calc(1rem + 0.7vw);

  line-height: 50px;
  border: none;
  background: linear-gradient(0deg, #8ae216d2 0%, #a9ee4ed0 100%);
}

.btn-gewusst:hover {
  color: #a8ee4e;
  box-shadow: none;
}

.btn-gewusst:before,
.btn-gewusst:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #64a410;
  box-shadow:
    -1px -1px 5px 0px #6ea12c,
    7px 7px 20px 0px #51850d;

  transition: 1500ms ease all;
}

.btn-gewusst:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-gewusst:hover:before,
.btn-gewusst:hover:after {
  width: 100%;
  transition: 700ms ease all;
}































/* button-aufdecken */
.btn-aufdecken {
  font-family: Maiandra GD;

  color: rgb(77, 77, 77);
  border-radius: 5px;
  padding: 0.7vw 1.5vw;
  margin-left: 3vw;

  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;



  width: 26%;
  font-size: calc(1rem + 0.7vw);

  line-height: 50px;
  border: none;
  background: linear-gradient(0deg, rgba(77, 77, 77, 0.85) 0%, rgba(126, 126, 126, 0.85) 100%);
}

.btn-aufdecken:hover {
  color: rgb(126, 126, 126);
  box-shadow: none;
}

.btn-aufdecken:before,
.btn-aufdecken:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(44, 44, 44);
  box-shadow:
    -1px -1px 5px 0px rgb(126, 126, 126),
    7px 7px 20px 0px rgb(77, 77, 77);

  transition: 1500ms ease all;
}

.btn-aufdecken:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-aufdecken:hover:before,
.btn-aufdecken:hover:after {
  width: 100%;
  transition: 700ms ease all;
}









/* button_nicht_gewusst */
.btn-nicht_gewusst {
  font-family: Maiandra GD;

  color: rgb(255, 0, 1);
  border-radius: 5px;
  padding: 0.7vw;

  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;



  width: 26%;
  font-size: calc(1rem + 0.7vw);
  white-space: nowrap;

  line-height: 50px;
  border: none;
  background: linear-gradient(0deg, #c02d1dda 0%, #dd3522e0 100%);
}

.btn-nicht_gewusst:hover {
  color: #dd3422;
  box-shadow: none;
}

.btn-nicht_gewusst:before,
.btn-nicht_gewusst:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #932317;
  box-shadow:
    -1px -1px 5px 0px #dd3422,
    7px 7px 20px 0px #c02d1d;

  transition: 1500ms ease all;
}

.btn-nicht_gewusst:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-nicht_gewusst:hover:before,
.btn-nicht_gewusst:hover:after {
  width: 100%;
  transition: 700ms ease all;
}











@media (max-width: 800px)  {
  
  .btn-nicht_gewusst {
    width: 18%;
  }
  
  .btn-gewusst {
    width: 18%;
  }

  .btn-aufdecken {
    width: 18%;
  }

}


@media (max-width: 540px)  {
  
  .btn-nicht_gewusst {
    width: 15%;
  }
  
  .btn-gewusst {
    width: 15%;
  }

  .btn-aufdecken {
    width: 15%;
  }

}









.text_color_white {
  color: white;
}




























.checkbox_haken_mit_ohne_sonstige_formen_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkbox_haken_mit_ohne_sonstige_formen {

  position: relative;
  bottom: -127px;
  margin-left: 13px;
  margin-right: 13px;
  height: 45px;
  width: 350px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  color: white;
  font-weight: bold;
}






.lernen_lektion_oder_originaltext_select {
  cursor: pointer;
  font-family: 'Maiandra GD';
  position: relative;
  padding: 16px;
  width: 90%;
  height: 60px;
  border-radius: 1rem;
  font-size: calc(1rem + 0.3vw);
  top: -40px;

}

.lernen_lektion_oder_originaltext_select:focus,
.lernen_lektion_oder_originaltext_select:hover {
  outline: none;
  border: 1px solid #bbbbbb;
}

.lernen_lektion_oder_originaltext_select option {
  background: white;

}
















/*

Nav / Hamburger-Menü:

*/

nav {
  height: 0px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  width: 50px;
  
  z-index: 10;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
       position: fixed;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: relative;
  width: 200px;
  height: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  


  background: #ddddddf3;
  box-shadow: 0px 0px 16px 0 rgba(10, 8, 17, 0.35);


  border-radius: 0px;
  border-bottom-right-radius: 25px;



  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);


  
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}










.lernen_button {
  border: #767676 solid 1px;
  background-color: white;

  height: 60px;
  width: 95px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: calc(1rem + 0.3vw);
  cursor: pointer;
  color: #000000;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
  padding-left: 10px;
  padding-right: 10px;
}








.Lektion_select:focus,
.Lektion_select:hover,
.lernen_button:focus,
.lernen_button:hover {
  outline: none;
  border: 1px solid #bbbbbb;
}








.Lektion_select {
  cursor: pointer;
  font-family: 'Maiandra GD';
  height: 60px;
  width: 200px;
  padding: 8px 12px;
  border-radius: 1rem;
  font-size: calc(1rem + 0.3vw);
  top: -125px;
  left: 50px;
}







.Lektion_select option {
  background: white;

}







.version_div {
  position: relative;
  height: 95px;
  width: 140px;
  border: black 3px dashed;
  border-radius: 1rem;
  z-index: 10;


  left: 25px;
  top: 80px;


}

.version_headline {
  position: relative;
  text-decoration: underline;
  font-size: calc(1rem + 0.9vw);
  top: 5px;

}

.version_number_latest {
  position: relative;
  font-size: 32px;
  left: -66px;
  top: 13px;
  width: 190px;
}


.version_info {
  position: relative;
  left: 40px;
  top: -30px;
  cursor: pointer;
  width: 45px;
  height: 45px;

}




.noscroll {
  overflow: hidden;
}




.bold {

  font-weight: bold;

}
